{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block _stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block content %}
    <div>
        <h1>Gérer une adresse</h1>
        <a href="{{ path('account_address') }}">Retour</a>

        {{ form_start(form) }}
            <div class="row mt-5">
                <div class="col-md-12">
                    {{ form_row(form.type) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.prenom) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.telephone) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.adresse) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.code_postal) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.ville) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.pays) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.societe) }}
                </div>

                <div class="col-md-12 mt-5">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
