{% extends 'base.html.twig' %}

{% block title %}Ma commande - {{ order.reference }}{% endblock %}

{% block _stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block content %}
    <div class="commande">
        <h1>Ma commande n°{{ order.reference }}</h1>
        <a href="{{ path('account_order') }}">Retourner à mes commandes</a> <br>
        <hr>
        <strong>Commande passée le : </strong>  {{ order.dateCreation|date('d/m/Y') }} <br>
        <strong> Référence de ma commande :</strong>      {{ order.reference }} <br>
        <strong>Transporteur choisi:</strong>  {{ order.nomTransporteur }}

        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for line in order.orderLines %}
                <tr>
                    <th scope="row">{{ line.produit }}</th>
                    <td>{{ line.quantite }}</td>
                    <td>{{ (line.prix / 100)|number_format(2, ",", '.') }}</td>
                    <td>{{ (line.total / 100)|number_format(2, ",", '.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <strong>Sous-total: </strong> {{ (order.getTotal()/100)|number_format(2, ",", '.') }} €<br>
            <strong>Livraison: </strong>{{ (order.prixTransporteur / 100)|number_format(2, ",", '.') }} €<br>
            <strong>Total: </strong>{{ ((order.getTotal() + order.prixtransporteur) / 100)|number_format(2, ",", '.') }} €<br>
        </div>
    </div>
{% endblock %}
